page-login {
    $marginDef:20px 0;

    ion-content{
        background: rgb(2,0,36);
        background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 2%, rgba(0,212,255,1) 100%);
    }
    .login__input__list{
        >ion-item{
            background: transparent;
            margin-bottom: 10px;
            border: 1px solid color($colors,'default');
            border-radius: 50px;
            color: color($colors,'default');
        }
        .item-inner{
            border-bottom: 0 !important;
            .label-ios{
                margin:0;
            }
        }
    }
    .logo-row{
        margin: $marginDef;
    }
    .welcomeText{
            color: color($colors,'default');
            margin: $marginDef;
            h6{
                margin-top: 0;
            }
    }
    .register__link{
        text-decoration: underline;
        color: color($colors,'default');
    }
    .label-md{
        margin: 0;
    }
}
