<ion-header>

  <ion-navbar>
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-row class="signUpFrom">
    <ion-col col-12>
      <form novalidate (ngSubmit)="onSubmit()" [formGroup]="user">
        <ion-list class="login__input__list">
          <ion-item>
            <ion-label floating>First Name
            </ion-label>
            <ion-input type="text" formControlName="firstName"  value="" autocomplete="off"></ion-input>
          </ion-item>
          <ion-item no-lines *ngIf="( user.get('firstName').hasError('required') || !user.get('firstName').hasError('pattern')) && user.get('firstName').touched">

            <div class="error" *ngIf="user.get('firstName').hasError('required') && user.get('firstName').touched">
              First name is required
            </div>
            <div class="error" *ngIf="!user.get('firstName').hasError('pattern') && user.get('firstName').touched">
              Invalid first name.
            </div>

          </ion-item>
          <ion-item>
            <ion-label floating>Last Name
            </ion-label>
            <ion-input type="text" formControlName="lastName"  value="" autocomplete="off"></ion-input>
          </ion-item>
          <ion-item no-lines *ngIf="!user.get('lastName').hasError('pattern') && user.get('lastName').touched  && user.get('lastName').length!==0">
            <div class="error" *ngIf="!user.get('lastName').hasError('pattern') && user.get('lastName').touched">
              Invalid last name.
            </div>

          </ion-item>
          <ion-item>
            <ion-label floating>
              Email
            </ion-label>
            <ion-input type="email"  clearOnEdit="false"  formControlName="email" value="" autocomplete="off" [pattern]="emailPattern"></ion-input>
          </ion-item>
          <ion-item no-lines *ngIf="(user.get('email').hasError('pattern') || user.get('email').hasError('required') ) && user.get('email').touched">

            <div class="error" *ngIf="user.get('email').hasError('required') && user.get('email').touched">
              Email is required
            </div>
            <div class="error" *ngIf="user.get('email').hasError('pattern') && user.get('email').touched">
              Invalid email id
            </div>

          </ion-item>
          <ion-item>
            <ion-label floating>
              Password
            </ion-label>
            <ion-input type="password"  clearOnEdit="false"  formControlName="password" value="" autocomplete="off" [maxlength]="30" [minlength]='6'></ion-input>
          </ion-item>
          <ion-item no-lines *ngIf="( user.get('password').hasError('required') ) && user.get('password').touched">

            <div class="error" *ngIf="user.get('password').hasError('required') && user.get('password').touched">
              Password is required
            </div>

          </ion-item>
          <ion-item>
            <ion-label floating>
              Confirm Password
            </ion-label>
            <ion-input type="password" formControlName="re_password" value="" autocomplete="off" [maxlength]="30" [minlength]='6'></ion-input>
          </ion-item>
          <ion-item no-lines *ngIf="( user.get('re_password').hasError('equalTo') || user.get('re_password').hasError('required') ) && user.get('re_password').touched">

            <div class="error" *ngIf="user.get('re_password').hasError('required') && user.get('re_password').touched">
              Confirm password is required
            </div>
            <div class="error" *ngIf="user.get('re_password').hasError('equalTo') && user.get('re_password').touched">
              Password Mismatch
            </div>
          </ion-item>
          <button class="signUpBtn" ion-button block round color="secondary" type="submit"  [disabled]="user.invalid">Register</button>
        </ion-list>
      </form>
    </ion-col>
  </ion-row>
</ion-content>