page-open-tickets {
    ion-content{
        background: #e6f7ff !important;
    }
    ion-card{
        border: 1px solid #c1afaf;
    }
    .scroll-content{
        padding: 0 !important;
    }
    .btn__row__border{
        border-top: 1px solid #ccc;
    }
    .tkt__prority__row{
        text-align: center;
        border-right: 1px solid #ccc;

        .prority__text{
            width: -webkit-max-content;
            width: -moz-max-content;
            width: max-content;
            margin: 20% auto;
            color: white;
            font-size: 7vw;
            
        }
       
    }

    .title__text{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .P1 {
        background: color($colors,'danger');
      }
      
      .P2 {
        background: color($colors,'warning');
      }
      
      .P3 {
        background: color($colors,'primary');
      }
      .P4{
        background:  color($colors,'secondary_2');
      }

      .no_tickets__text{
        padding: 10px 0;
        margin: 0 !important;
        color: color($colors,'secondary_2')
      }
      .details__text{
          font-size: 4vw;
      }

}
