@mixin toastMain($clr){
    background: color($colors,$clr);
    color: color($colors,'default');
    left:0;
    right:0;
    border-radius: 0;
}
.successToast .toast-wrapper{
    @include toastMain('secondary');
}

.errorToast .toast-wrapper{
    @include toastMain('danger');
}