@mixin toastMain($clr){
    background: color($colors,$clr);
    color: color($colors,'default');
    left:0;
    right:0;
    border-radius: 0;
    margin-bottom: -10px;
}
.successToast .toast-wrapper{
    @include toastMain('secondary');
}
.errorToast .toast-wrapper{
    @include toastMain('danger');
}
.toast-md{
    .toast-wrapper{
        margin-bottom: 0;
    }
}
.toolbar-background{
    background: color($colors,'primary');
}
.toolbar-title{
    color: color($colors,'default');
}
.toolbar-content-md{
    display: flex;
}

.sideMenuUserDetails{
    background: #51519a;
    box-shadow: 0px 4px 5px 0px #51519a;
    color:  color($colors,'default');
    padding: 10px 5px;
}
[icon-left] ion-icon, [icon-start] ion-icon {
    line-height: 1.1 !important;
}
